{% extends "base.html" %} {% block title %}Create your post{% endblock %} {% block content
%}


<article class="card-body mx-auto" style="max-width: 500px;">

    <div class="page-header">
        <h1>Create your post here</h1>
        <br>
    </div>


    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
            <label for="title">Insert the title: </label>
            <br>
            <textarea class="form-control" id="title" name="title" rows="1"></textarea>
        </div>
        <div class="form-group">
            <label for="text">Insert your comment: </label>
            <br>
            <textarea class="form-control" name="post" id="post" rows="5"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Create</button>
        </div>
    </form>
</article>





{% endblock%}
