<!--take same structure of base and modify according to the class-->

{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}


<h1>Welcome to our blog</h1>
<br><br>
{% if posts|length < 1 %}
<h4>Actually, there are no posts yet</h4>
{% endif %}
{% if not(user.is_authenticated) %}
{% for post in posts %}
<div class="jumbotron jumbotron-fluid2 text-black">
    <div class="container">
        <div style="background-image: url('{{post.post_image}}'); background-size: cover; background-position: center;">
        <h3 class="display-4">{{post.post_title}}</h3>
        <p class="lead" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{post.post_text}}</p>
    
        <hr class="my-4"></div>
        <p>{{post.post_date.strftime("%d/%m/%Y, %H:%M")}}</p>
        <p class="lead">
            <a class="btn btn-success btn-lg" href="/sign-up" role="button">Read more</a>
        </p>
    </div>
</div>
<br>
{% endfor %}
<br>
{% endif %}

{% if (user.is_authenticated) %}
<a href="/create">
    <button type="button" id="new" class="btn btn-success btn-sm" style="margin-left:980px">Create
        your
        post</button>
</a>
<br><br>
{% for post in posts %}
<div class="jumbotron jumbotron-fluid2 text-black">
    <div class="container">
        <div style="background-image: url('{{post.post_image}}'); background-size: cover; background-position: center;">
            <h3 class="display-4">{{post.post_title}}</h3>
            <p class="lead" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{post.post_text}}</p>
            <hr class="my-4">
        </div>
        <p>{{post.post_date.strftime("%d/%m/%Y, %H:%M")}}</p>
        <p class="lead">
            <a class="btn btn-success btn-lg" href="/post/{{post.id}}" role="button">Read more</a>
        </p>
    </div>
</div>
<br>
{% endfor %}
{% endif %}
<br>
{% endblock %}