<!--take same structure of base and modify according to the class-->

{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}


<h1>Welcome to our Forum</h1>
<br><br>
{% if posts|length < 1 %} <h4>Actually, there are no posts yet</h4>
    {% endif %}

    <div style="float:left;" style="margin-right:-980px">
        <form method="GET">
            <input type="search" aria-label="Search" name="q" placeholder="Search" autocomplete="off" style=" border: 2px solid rgb(11, 126, 161);
            border-radius: 8px;" />
            <button class="btn btn-info btn-sm">Search</button>
        </form>
        {% if (search_content)%}
        <br>
        <div>
            <p>Results for {{search_content}}</p>
        </div>
        <br>
        {% endif %}
    </div>

    {% if (user.is_authenticated) %}
    <div style="float:right;" style="margin-left:980px">
        <a href="/create">
            <button type="button" id="new" class="btn btn-success btn-sm">Create
                your
                post</button>
        </a>
    </div>
    {% endif %}
    <br><br><br><br><br>

    {% for post in posts %}
    <div class="jumbotron jumbotron-fluid2 text-black"
        style="background-image: url('{{post.post_image}}'); background-size: cover; background-position: center;">
        <div class="container">
            <h3 class="display-4">{{post.post_title}}</h3>
            <p class="lead" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{post.post_text}}
            </p>
            <hr class="my-4" style="color: antiquewhite;  border-style:solid; border-color: antiquewhite;">
            {% if (user.is_authenticated) %}
            <p class="lead">Created by {{usernames.get(post.user_id)}} at {{post.post_date.strftime("%d/%m/%Y, %H:%M")}}
            <p class="lead">
                <a class="btn btn-success btn-lg" href="/post/{{post.id}}" role="button">Read more</a>
            </p>
            {% else %}
            <p class="lead">{{post.post_date.strftime("%d/%m/%Y, %H:%M")}}</p>
            <p class="lead">
                <a class="btn btn-success btn-lg" href="/login" role="button">Read more</a>
            </p>
            {% endif %}
        </div>
    </div>
    <br>
    {% endfor %}
    <br>
    <br>
    {% endblock %}