{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block
content %}
<h1>Welcome to the login webpage</h1>
<br><br>
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Please enter your Email address</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email" size="30">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <br>
    <div class="form-group">
        <label for="exampleInputPassword1">Please enter your Password</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password" maxlength="12"
            size="12">
    </div>

    <button type="submit" class="btn btn-primary">Log in</button>
</form>

{% endblock %}