{% extends "base.html" %} {% block title %}Create your post{% endblock %} {% block content
%}

 <!-- Post List -->
 <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
    <div class="card mb-2">
        <div class="card-body p-2 p-sm-3">
            <div class="media forum-item">
                <div class="media-body">
                    <h5>{{post.post_title}}</h5>
                    <p class="text-secondary">
                        {{post.post_text}}
                    </p>
                    <hr>
                    <p class="text-muted">[USER] {{post.user_id}} posted <span class="text-secondary font-weight-bold">at {{post.post_date}}</span></p>
                </div>
            </div>
        </div>
    </div>
    {% for comment in post.comments %}
    <div class="card mb-2">
        <div class="card-body p-2 p-sm-3">
            <div class="media forum-item">
                <div class="media-body">
                    <h6>
                        {{comment.comment_text}}
                </h6>
                <hr>
                    <p class="text-muted">{{comment.user_id}} replied at <span class="text-secondary font-weight-bold">{{comment.comment_time}}</span></p>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
    
    <div class="card mb-2">
        <form method="POST">
            <div class="card-body">
                <label for="text">Reply to this thread: </label>
                <br>
                <textarea class="form-control" name="post" id="post" rows="5"></textarea>
                <br>
                <button type="submit" class="btn btn-primary ">Comment</button>
            </div>  
        </form>
 
 </div>
 </div>
 




{% endblock%}