{% extends "base.html" %} {% block title %}Profile{% endblock %}

{% block
content %}
<h1>Welcome  {{user.username}}</h1>
<br>
<h2>These are your personal information:</h2>
<br>
<p>{{user.email}}</p>
<br>
<h2 style="padding-bottom: 2em; padding-top: 2em;  margin: auto;
">Your Posts: {% if posts|length < 1 %} Actually, there are no posts yet
{% endif %}</h2>

    <hr>
    <div class="container-fluid mt-100">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-header pr-0 pl-0">
                        <div class="row no-gutters align-items-center w-100">
                            <div class="col font-weight-bold pl-3">Thread</div>
                            <div class="d-none d-md-block col-6 text-muted">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-3">#Replies</div>
                                    <div class="col-6">Last activity</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for post in user.posts %}
                    <div class="card-body py-3">
                        <div class="row no-gutters align-items-center">
                            <div class="col"><a href="" class="text-big font-weight-semibold"
                                    data-abc="true">{{post.post_title}}</a></div>
                            <div class="d-none d-md-block col-6">
                                <div class="row no-gutters align-items-center">

                                    <div class="col-3">14</div>
                                    <div class="col-9">
                                        <div class="  flex-truncate ml-2"> <a href="" class="d-block text-truncate"
                                                data-abc="true">Last Answer #1</a>
                                            <div class="text-muted small text-truncate">2d ago &nbsp;·&nbsp; <a href=""
                                                    class="text-muted" data-abc="true">User X</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="m-0">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}