{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<br><br>
<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 500px;">
        <h1 class="card-title mt-3 text-center">Register</h1>
        <p class="text-center" style="padding-bottom: 2em;">Create an account to use the forum</p>
        <form method="POST" action="">
            {{ form.csrf_token }}
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                {% if form.username.errors %}
                {{ form.username(class="form-control is-invalid", placeholder="Full name") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control", placeholder="Full name") }}
                {% endif %}
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i></span>
                </div>
                {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid", placeholder="Email address") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control", placeholder="Email address") }}
                {% endif %}
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid",placeholder="Create password") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control",placeholder="Create password") }}
                {% endif %}
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control is-invalid",placeholder="Repeat password") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confirm_password(class="form-control",placeholder="Repeat password") }}
                {% endif %}
            </div> <!-- form-group// -->
            <div class="form-group">
                {{ form.submit(class="btn btn-primary btn-block") }}
            </div> <!-- form-group// -->
            <p class="text-center">Already have an account? <a href="/login">Log In</a> </p>
        </form>
    </article>
</div>
{% endblock %}