{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<div class="container">
    <h1 style="padding-bottom: 2em; padding-top: 2em;  margin: auto;
    width: 50%;"></h1>
    <hr>
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 500px;">
            <h1 class="card-title mt-3 text-center">Register</h1>
            <p class="text-center" style="padding-bottom: 2em;" >Create an account to use the forum</p>
            <form>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i>  </span>
                     </div>
                    <input name="" class="form-control" placeholder="Full name" type="text">
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i></span>
                     </div>
                    <input name="" class="form-control" placeholder="Email address" type="email">
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Create password" type="password">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Repeat password" type="password">
                </div> <!-- form-group// -->                                      
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                </div> <!-- form-group// -->      
                <p class="text-center">Already have an account? <a href="login">Log In</a> </p>            
            </form>
        </article>
    </div>
</div>
{% endblock %}